.ui-sandbox-kit.menu_1 {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
}

.menu_1 {
    padding: 0;
    padding-left: calc((100% - 1024px)/2);
}

    .menu_1 .--main {
        padding: 0;
        margin: 0;
        width: 1024px;
        background-color: whitesmoke;
    }

    .menu_1 .--left {
    }

    .menu_1 .--logo {
    }

        .menu_1 .--logo img {
            max-height: 36px;
        }
