

.chat-module .chat-module-body {
    top: 0;
    height: 100%;
    padding-right: 1.5rem;
}

.container-kanban {
    height: calc(100vh - 3.5rem);
    margin-top: 0.5rem;
}

/* PC */
@media (min-width: 992px) {
    body {
        overflow: hidden;
    }

    .container-kanban {
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
    }

    .chat-team-sidebar {
        height: calc(100vh - 3.7rem);
        margin-top: 3.5rem;
    }

        .chat-team-sidebar .tab-pane {
            height: calc(100vh - 255px);
        }

    .layout-sidebar .main-container {
        height: 100vh;
    }
}
