.vc-list {
    display: inline-block;
}

    .vc-list.__vc_header .__ls_header {
        height: 32px;
    }

    .vc-list.__vc_search .__ls_header {
        height: 69px;
    }

    .vc-list.__vc_header .__ls_header,
    .vc-list.__vc_header ul {
        float: left;
        width: 100%;
    }

    .vc-list ul {
        padding: 0;
        margin: 0;
    }

    .vc-list.__vc_header ul {
    }

    .vc-list .__ls_header {
        display: none;
        position: relative;
        width: 100%;
        background-color: #ccc;
    }

    .vc-list.__vc_header .__ls_header {
        display: inline-block;
    }

    .vc-list .__ls_header .__ls_header_title {
        position: absolute;
        top: 3px;
        left: 5px;
        z-index: 1;
    }

    .vc-list .__ls_header .__ls_header_close {
        position: absolute;
        top: 3px;
        right: 5px;
        z-index: 2;
    }

    .vc-list ul li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        font-size: 0.8rem;
        padding: 0;
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 100%;
        min-height: 32px;
        float: left;
    }

        .vc-list ul li:last-of-type {
            border-bottom: none;
        }


        .vc-list ul li.__li-active {
            color: white;
            background-color: orangered;
        }

        .vc-list ul li:hover {
            color: #000;
            background-color: yellow;
        }

        .vc-list ul li i.__li-icon {
            padding: 0;
            float: left;
            display: block;
            width: 37px;
            height: 16px;
        }

        .vc-list ul li div.__li-icon.vc-icon {
            height: 18px;
            overflow: hidden;
            float: left;
            margin: 6px 4px 0 9px;
        }

            .vc-list ul li div.__li-icon.vc-icon svg {
                width: 18px;
            }

        .vc-list ul li span.__li-text {
            padding: 9px 0 0 0;
            float: left;
        }

        .vc-list ul li .__li-check {
            float: right;
            margin: 4px 0 0 0;
        }

    .vc-list:not(.__li_icon) ul li span.__li-text {
        padding-left: 9px;
    }

    .vc-list:not(.__li_icon) ul li .__li-icon,
    .vc-list:not(.__li_check) ul li .__li-check {
        display: none;
    }
