
.vc-loading--modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 99998;
}

.vc-loading {
    background-color: #f9b6c9;
    position: fixed;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

    .vc-loading .__loa_indicator {
        background-color: #D31048;
        width: 69px;
        height: 5px;
        margin: 0;
        padding: 0;
    }

    .vc-loading .__loa_text {
        float: left;
        padding: 9px 9px 0 12px;
    }

    .vc-loading.__img-gif {
        background: white;
        width: 105px;
        height: 38px;
        left: 45%;
        top: 45%;
        padding: 3px 9px 0 0;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

        .vc-loading.__img-gif .__loa_indicator {
            float: right;
            width: 32px;
            height: 32px;
        }

            .vc-loading.__img-gif .__loa_indicator img {
                width: auto;
                height: 32px;
            }
