
.vc-toast {
    z-index: 9999999;
    position: fixed;
    background-color: black;
    min-width: 252px;
    border-radius: 5px;
    color: white;
    bottom: 10px;
    left: 10px;
    padding: 20px 30px 15px;
    display: inline-block;
}

    .vc-toast .__toa_close {
        width: 1.5rem;
        position: absolute;
        cursor: pointer;
        top: 3px;
        right: 1px;
        display: inline-block;
    }

    .vc-toast .__toa_text {
        line-height: 1.26rem;
        text-align: center;
        font-size: 1rem;
        font-family: Arial;
        margin: 0px;
        padding: 0px;
    }
